__pycache__/
.venv
workspace.ipynb
dist
.DS_Store

# Ignore environment and config files
.env.*
# Ignore coverage files
.coverage
coverage.xml
# Ignore Jupyter notebooks
*.ipynb

# Ignore package artifacts
*.pypl
*.pacakge
*.pypi
*.package

# Ignore all files and folders from .testenv
.testenv/
